@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-vermilion: #EA4E48;
    --vt-c-snow: #FCFAFA;
    --vt-c-platinum: #DBDFE6;
    --vt-c-cadeygray: #9FA9BC;
    --vt-c-spacegray: #2B2D42;
    --vt-c-darkpurple: #160C28;

    --vt-c-text-light: var(--vt-c-spacegray);
    --vt-c-text-dark: var(--vt-c-snow);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);

    --color-border: var(--vt-c-platinum);
    --color-border-hover: var(--vt-c-cadeygray);

    --color-heading: var(--vt-c-text-light);
    --color-text: var(--vt-c-text-light);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-darkpurple);

        --color-border: var(--vt-c-platinum);
        --color-border-hover: var(--vt-c-cadeygray);

        --color-heading: var(--vt-c-text-dark);
        --color-text: var(--vt-c-text-dark);
    }
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

